*{
    margin: 0;/*réinitialisation*/
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: indigo;
    color: white;
    width: 100vw;
    height: 100vh;
}

main{
    display: flex;
    justify-content: flex-start;/*répartition gauche/droite de aside et section*/
    width: 100vw;
    height: 100vh;
}

aside{
    background-color: maroon;
    width: 15vw;
    height: 100vh;
    flex-direction: column;/*mise en direction verticale*/
}

.top{
    width:15vw;
    height: 10vh;
    margin: 0 5% 10% 0;
    display: flex;
    flex-direction: column;/*mise en direction verticale de l'image et du texte*/
    justify-content: space-between;/*espace égal entre les éléments*/
    align-items: center;/*centrer les éléments dans la zone aside*/
}

.logo{
    width: 120px;
    height: 120px;
    border-radius: 50%;/*arrondit les bords de l'image pour former un cercle*/
}

.logo:hover{
    transform: scale(1.22);/*léger zoom sur l'image au survol par le pointeur*/
}

.social{
    height: 8%;
    margin: 10%;
    display: flex;
    justify-content: center;/*centrer les icones dans la zonz aside*/
}

.icon{
    background-color: aliceblue;
    width: 30px;
    height: 30px;
    border-radius: 50%;/*arrondit les bords de l'image pour former un cercle*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4%;
}

.icon:hover {
    transform: scale(1.2);/*léger zoom sur les icones au survol par le pointeur*/
    color: cyan;/*Changement de couleur des icones au survol par le pointeur*/
}

nav{
    height: 25vh;
    margin-left: 3%;
    display: flex;
    justify-content: left;
    color:antiquewhite
}

#navicon{
    margin: 11px;
    padding-top: 8%;
}

.left{
    display: flex;
    flex-direction: column;
}
.left image{
    width: 5px;
    height: 5px;
}

.link{
    text-decoration: none;/*supression du souslignage*/
    color: white;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.link:hover {
    transform: scale(1.2);/*léger zoom sur les liens au survol par le pointeur*/
    color: cyan;/*Changement de couleur des liens au survol par le pointeur*/
}

.foot{
    height: 8vh;
    margin-top: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
span{
    color: rgb(65, 120, 156);/*span pour colorer un bout de texte*/
}
section{
    width: 85vw;
    height: 100vh;
    background-image: url(./Images/backgroung_menu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

h1{
    font-size: 40px;
}

hr{
    color: cyan;
    width: 200px;
    margin-top: .25%;
    margin-left: 3.6%;
}