.cat_burger{
    padding: 2% 0 2% 0;
    text-align: center;
}
.listeburger{
    display: grid;
    background-color: white;
    opacity: 0.8;
    color: black;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr;
    grid-template-areas: 
    "cheeseburger ."
    ". baconburger"
    "chickenburger .";
}
.cheeseburger{
    display: flex;
    align-items: center;
    padding: 5% 0 0 0;
    grid-area: cheeseburger;
}
.baconburger{
    display: flex;
    align-items: center;
    padding: 5% 0 0 0;
    grid-area: baconburger;
}
.chickenburger{
    display: flex;
    align-items: center;
    padding: 5% 0 0 0;
    grid-area: chickenburger;
}
.img_burger{
    width: 35%;
    padding: 0% 2% 0 2%;
}
.titreburger{
    padding: 0 0 0 0 ;
}
.pburger{
    padding: 4% 0 4% 0 ;
    width: 70%;
}
.quantite{
    width: 18%;
}
.panierburger{
    padding: 0 0 0 0 ;
}
