
#form_Inscr{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    
}

#form_Inscr > input{
    width: 30vw;
    height: 5vh;
    border-radius: 5px;
    margin: 1%;
    background-color: bisque;
}

#subButtonI{
    width: 20vw;
    height: 5vh;
    border-radius: 5px;
    margin: 1%;
    background-color: bisque;
}