
main {
    background-image: url(../Images/background_burger__.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    color: white;
    text-align: center;
}
.burger{
    margin:20%;

}

