
#form_Inscr{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#form_Inscr > input{
    width:90%;
    height: 5vh;
    border-radius: 5px;
    margin: 1%;
}

#subButtonI{
    width: 90%;
    height: 5vh;
    border-radius: 5px;
    margin: 1%;
}
form h2{
    margin: 5%;
}